{% extends 'admin/base.html.twig' %}

{% block body %}

    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message|trans }}
        </div>
    {% endfor %}

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_rest(form) }}
    <button type="submit" id="updatePasswordSubmitButton" class="btn btn-primary">
        <i class="fa fa-save" aria-hidden="true"></i> {{ 'user.label.submit'|trans }}
    </button>
    {{ form_end(form) }}
{% endblock %}
