{% extends 'admin/base.html.twig' %}
{% block body %}
    {{ 'home.welcome'|trans }}:
    <ul>
        {% if is_granted('ROLE_ADMIN') %}
            <li>{{ 'home.configure'|trans }};</li>
        {% endif %}
        <li>{{ 'home.categories'|trans }};</li>
        <li>{{ 'home.posts'|trans }};</li>
        <li>{{ 'home.profile'|trans }}.</li>
    </ul>
{% endblock %}
