<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">JAW - {{ appName }}</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ url('admin_home') }}">{{ 'menu.home'|trans }}</a>
                </li>
                {% if is_granted('ROLE_USER') %}
                        {% if is_granted('ROLE_ADMIN') %}
                            <li class="nav-item">
                                <a class="nav-link" href="#">{{ 'menu.configuration'|trans }}</a>
                            </li>
                        {% endif %}
                        <li class="nav-item">
                            <a class="nav-link" href="#">{{ 'menu.categories'|trans }}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">{{ 'menu.posts'|trans }}</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                {{ 'menu.profile'|trans }}
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="{{ url('profile') }}">{{ 'menu.profile.account'|trans }}</a></li>
                                <li><a class="dropdown-item" href="{{ url('password_change') }}">{{ 'menu.profile.password'|trans }}</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ logout_path() }}">{{ 'menu.logout'|trans }}</a>
                        </li>
                    </ul>
                    <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="{{ 'menu.search.request'|trans }}" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">{{ 'menu.search.button'|trans }}</button>
                    </form>
            {% endif %}
        </div>
    </div>
</nav>
