{% extends 'admin/base.html.twig' %}

{% block screenTitle %}
    <h1>
        {% if post is defined %}
            {{ screenTitle }}: <span><i>{{ post.title }}</i></span>
        {% else %}
            {{ screenTitle }}
        {% endif %}
    </h1>
{% endblock %}

{% block body %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message|trans }}
        </div>
    {% endfor %}

    {% for message in app.flashes('alert') %}
        <div class="alert alert-danger">
            {{ message|trans }}
        </div>
    {% endfor %}

    {% if post is defined %}
        <p id="postId"><strong>Id:</strong> {{ post.id }}</p>
        <p id="creationDate"><strong>{{ 'creation_date'|trans }}:</strong> {{ post.createdAt|date("Y-m-d H:i:s") }}</p>
        <p id="updateDate"><strong>{{ 'last_edition_date'|trans }}:</strong> {{ post.updatedAt|date("Y-m-d H:i:s") }}</p>
    {% endif %}

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_rest(form) }}
    <button type="submit" id="savePostSubmitButton" class="btn btn-primary">{{ 'user.label.submit'|trans }}</button>
    {{ form_end(form) }}
    <p>
        {% if showDeleteForm is defined and showDeleteForm == true %}
            {{ include('admin/posts/_delete_form.html.twig', {post: post}, with_context = false) }}
        {% endif %}
    </p>
{% endblock %}
